<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="Stilo.css"> 

    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
     <style>
        .margen{
            margin-top: 80px;
        }
        

        #ContenedorTaresDiarias{
            width: 730px;
            height: 400px;
            overflow-y: auto;
        }

        .boxContenedor{
            width: 550px;
            height: 250px;
            overflow-y: auto;
        }
        
        button:hover{
            background-color: rgb(129, 129, 122);
            color: white;
        }


        /* .borde{
            border-radius: 15px;
        } */

        /* .bordeBoton{
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        } */
        
    </style>
    <title>Prueba</title>
</head>
<body>
       
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <a class="navbar-brand">Brand</a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Item 1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Item 2</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid margen">
        <div class="row">

        <!-- ************************ Contenedor Izquierdo ******************************** -->
            <div class="col-3">

            <!-- ************************ Calendario ******************************** -->
                <div id="calendario" class="col-12 boxContenedor" >

                </div>
                <br>
                <hr>

            <!-- *********************Reportes***************************************** -->
                <h4 class="text-center">Reportes</h4>
                    <div id="reportes" class="col-12 boxContenedor">

                    </div>
            </div>


        <!-- ************************ Contenedor Central ******************************** -->
            <div class="col-6">

            <!-- ************************ Tareas Pendientes ******************************** -->
                <h1 class="text-center">Tareas Diarias</h1>
                <div id="ContenedorTaresDiarias">
                    <div class="col-12 text-white" id="EstadoPendiente">

                    </div>
                </div>
                

        <!-- ************************ Modal Reporte ******************************** -->
                <br>
                <div>
                <!-- Redactar reporte-->
                    <textarea name="" id="redactarReporte" placeholder="Redactar reporte" cols="100" rows="5"></textarea>
                </div>

                <!-- Button Enviar reporte-->
                <button type="button" id="enviarReporte" class="btn btn-primary">
                    Enviar Reporte
                </button>

                
            </div>


    <!-- ************************ Contenedor Derecho ******************************** -->            
            <div class="col-3">

                <!-- ************************ Tareas Finalizadas ******************************** -->
                    <h4 class="text-center">Tareas Finalizadas</h4>
                <div class="col-12 boxContenedor">
                    
                    <div id="EstadoFinalizada" class="text-white">
                           
                    </div>
                </div>
                <hr>

                <!-- ************************ Tareas  No terminadas ******************************** -->
                <h4 class="text-center">Tareas No Terminadas</h4>
                <div class="col-12 boxContenedor">
                       
                    <div id="EstadoNoTerminadas" class="text-white">
                               
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script>
    Date.prototype.toString = function() {
        var yy =  this.getFullYear();
        var mm = this.getMonth()+1;
        var dd = this.getDate();
        if(mm<10) {
            mm='0'+mm;
        }
        return yy+"/"+mm+"/"+dd; 
    } 
    var miFecha = new Date(); 
    var datoFecha = miFecha ;
    var ayer=new Date(datoFecha.getTime() - 24*60*60*1000);
    console.log(miFecha);
    // console.log(ayer);
    
    $(document).ready(datos);

    function datos() {
        $(function() { $("#calendario").datepicker({ dateFormat: "yy/mm/dd"}); 
        
        //Peticion para listar las tareas pendientes de la fecha actual
        $("#calendario").on("change",
            function(){ 
                datoFecha = $(this).val(); 
                $("#mensaje").val(datoFecha); 
                //Tareas Diarias
                $.ajax({
                    method:"post",
                    url:"http://192.168.32.132/Gestion_Tareas/public/api/tareas/diario",
                    data:{
                        users_id: 1,
                        fechaFin: datoFecha
                    },
                    success:pendiente,
                    error:error
                });

                if (miFecha == datoFecha) {
                    document.getElementById('enviarReporte').disabled=false;
                    document.getElementById('redactarReporte').disabled=false;
                } else {
                    document.getElementById('enviarReporte').disabled=true;
                    document.getElementById('redactarReporte').disabled=true;
                }

            }); 

        });

        
        //Tareas Diarias
        $.ajax({
            method:"post",
            url:"http://192.168.32.132/Gestion_Tareas/public/api/tareas/diario",
            data:{
                users_id: 1,
                fechaFin: datoFecha
            },
            success:pendiente,
            error:error
        });

        //Cambiar a tareas no cumplidas al entrar no borrar y decir a Edwin que cambie el nombre del metodo
        // $.ajax({
        //     method:"post",
        //     url:"http://192.168.32.132/Gestion_Tareas/public/api/tareas/prueba2",
        //     data:{
        //         users_id: 1,
        //         fechaFin: datoFecha
        //     }
        // });

        
        
    }

//--------------------------------------Tareas Pendientes-----------------------------------------------

    function pendiente(r) {
        let listar = r.tarea;
        let reportesDiarios = r.reporte;
        $("#EstadoPendiente").html("");
        $("#EstadoFinalizada").html("");
        $("#EstadoNoTerminadas").html("");
        $("#reportes").html("");
        listar.forEach(element => {

            switch (element.estado) {
                case 'Pendiente':                    
                    $("#EstadoPendiente").append('<div class="card  border-primary ">'
                                +'<div id='+element.tituloTarea+' class="card-header bg-primary text-white d-flex justify-content-between">'+element.tituloTarea
                                +'<button id='+element.id+' onclick="modificarEstado('+element.id+')" class="btn btn-success btn-sm" ><i class="fas fa-check"></i></button>'
                                +'</div>'
                                +'<div id='+element.tituloTarea+' class="card-body text-primary ">'
                                +'<p class="card-text">'+element.descripcion+'</p>'
                                +'</div>'
                                +'</div><br>');
                    
                break;

                case 'Finalizada':
                    $("#EstadoFinalizada").append('<div class="card  border-info ">'
                                +'<div  class="card-header bg-info text-white">'+element.tituloTarea+'</div>'
                                +'<div class="card-body text-info">'
                                +'<p class="card-text">'+element.descripcion+'</p>'
                                +'</div>'
                                +'</div><br>');
                break;

                case 'Incumplida':                    
                    $("#EstadoNoTerminadas").append('<div class="card  border-danger ">'
                                +'<div class="card-header bg-danger text-white">'+element.tituloTarea+'</div>'
                                +'<div class="card-body text-danger">'
                                +'<p class="card-text">'+element.descripcion+'</p>'
                                +'</div>'
                                +'</div><br>');
                    
                break;
        
                default:
                    
                break;
            }

            
            
        });

        

        reportesDiarios.forEach(element => {
            $("#reportes").append('<div class="card  border-success mb-3">'
                                +'<div class="card-header bg-success text-white"></div>'
                                +'<div class="card-body text-success">'
                                +'<b>Descripción:'+'</b>'
                                +'<p class="card-text">'+element.descripcion+'</p>'
                                +'<b>Observación:'+'</b>'
                                +'<p class="card-text">'+element.observacion+'</p>'
                                +'</div>'
                                +'</div>');


        });
    }


    function error(r) {
        alert("Error: "+r);
        
    }


    //------------------------------------Modificar estado de la tarea a finalizada-----------------------------
    function modificarEstado(id) {
    
        // $("#"+id+"").toggleClass("bg-danger");
    
        
        $.ajax({
            method:"post",
            url:"http://192.168.32.132/Gestion_Tareas/public/api/tareas/editarEstado",
            data:{
                id: id,
                estado: "Finalizada",
            },
            success:modificado,
            error:errorModificar
        });
    
    }

    //funcion para verificar si la funcion cambio a finalizada
    function modificado(t) {
        datos();
    }

    //funcion para verificar si la funcion no cambio a finalizada
    function errorModificar(e) {
        alert("Error: "+e);
        
    }
 

    //----------------------------------------------Agregar reporte----------------------------------
    $('#enviarReporte').click(function(){
        //peticion para insertar reporte
        $.ajax({
            method:"post",
            url:"http://192.168.32.132/Gestion_Tareas/public/api/reportes/insertar",
            data:{               
                descripcion: $('#redactarReporte').val(),
                observacion: "", 
                fecha: datoFecha,               
                users_id: 1
            },
            success:reporte,
            error:errorReporte
        })

        //peticion para cambiar el estado de las tareas pendientes a no cumplidas al generar el reporte
        $.ajax({
            method:"post",
            url:"http://192.168.32.132/Gestion_Tareas/public/api/tareas/prueba",
            data:{               
                fechaFin: datoFecha,               
                users_id: 1
            },
            success:noCumplidas
        })

        document.getElementById('enviarReporte').disabled=true;
        document.getElementById('redactarReporte').disabled=true;
    });

    //Verificar si se agrego el reporte
    function reporte(v) {
        datos();
        document.getElementById("redactarReporte").value = "";
    }

    //Error si no se agrego el reporte
    function errorReporte(e) {
        alert("Error: "+e);
        
    }

    //Verificar si el estado de la tarea cambia a No Cumplidas al generar el reporte
    function noCumplidas(t) {
        datos();
    }

    

</script>



</body>
</html>