<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h1>Lista de Productos</h1>
        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                  </tr>
                </thead>
                <tbody id="mostrar">
                </tbody>
              </table>
    <script>
    $(document).ready(listar);   
    
    function listar(){
        $.ajax({
            method:"Get",
            url:"http://127.0.0.1:8000/api/auth/productos",
            success:function(dato){                       
                console.log(dato);
                var listar = "";   
                dato.forEach(element => {
                listar = listar+'<tr>'+'<td>'+element.id+'</td>'+
                                        '<td>'+element.nombre+'</td>'+
                                        '<td>'+element.descripcion+'</td>'+
                                        '<td>'+element.precio+'</td>'+'</tr>';
            });
            $("#mostrar").html(listar);            
            },
            error:function(data){
                alert("Error al iniciar session: "+data.error);
            }

        });
    }    
    </script>
</body>
</html>