<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="asets/css/Stilo.css"> 

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
    
    <style>
        .margen{
            margin-top: 80px;
        }
        

        #ContenedorTaresDiarias{
            /* width: 730px;
            height: 400px; */
            overflow-y: auto;
        }

        .boxContenedor2{
            width: 750px;
            height: 380px;
            overflow-y: auto;
        }

        .boxContenedor3{
            width: 750px;
            height: 250px;
            overflow-y: auto;
        }

        .boxContenedor{
            width: 550px;
            height: 250px;
            overflow-y: auto;
        }
        
        button:hover{
            background-color: rgb(129, 129, 122);
            color: white;
        }


        /* .borde{
            border-radius: 15px;
        } */

        /* .bordeBoton{
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        } */
        
    </style>
    <title>Alumno</title>
</head>
<body>
       
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#" >
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item active">
                    <div class="nav-link text-white" id="usuario"></div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid margen">
        <div class="row">

        <!-- ************************ Contenedor Izquierdo ******************************** -->
            <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">

            <!-- ************************ Calendario ******************************** -->
                <div id="calendario" class="col-12 boxContenedor" >

                </div>
                <br>
                <hr>

            <!-- *********************Reportes***************************************** -->
                <h4 class="text-center">Reportes</h4>
                    <div id="reportes" class="col-12 boxContenedor">

                    </div>
            </div>


        <!-- ************************ Contenedor Central ******************************** -->
            <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <!-- ************************ Tareas Pendientes ******************************** -->
                <h1 class="text-center">Tareas Diarias</h1>
                <div class="col-12 boxContenedor2" id="ContenedorTaresDiarias">
                    <div class="text-white" id="EstadoPendiente">

                    </div>
                </div>
                

       
                <br>
                <div class="col-12 boxContenedor3">
                    
                    <div>
                        <!-- Redactar reporte-->
                            <textarea class="col-12" id="redactarReporte" placeholder="Redactar reporte" cols="250" rows="5"></textarea>
                        </div>
        
                        <!-- Button Enviar reporte-->
                        <button type="button" id="enviarReporte" class="btn btn-primary">
                            Enviar Reporte
                        </button>
                    </div>
                

                
            </div>


    <!-- ************************ Contenedor Derecho ******************************** -->            
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">

                <!-- ************************ Tareas Finalizadas ******************************** -->
                    <h4 class="text-center">Tareas Finalizadas</h4>
                <div class="col-12 boxContenedor">
                    
                    <div id="EstadoFinalizada" class="text-white">
                           
                    </div>
                </div>
                <hr>

                <!-- ************************ Tareas  No terminadas ******************************** -->
                <h4 class="text-center">Tareas No Terminadas</h4>
                <div class="col-12 boxContenedor">
                       
                    <div id="EstadoNoTerminadas" class="text-white">
                               
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="asets/js/tareasPendientes.js"></script>
    <script src="asets/js/tareasFinalizdas.js"></script>
    <script src="asets/js/reportes.js"></script>
    
</body>
</html>